{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Daily Notes</title>
</head>
<body>
    <h1>Welcome to daily notes!</h1>
    <hr/>

    <h3>Add a new note: </h3>
    <form id="note-form" action="" method="post">
         {% csrf_token %}
         {{myForm.as_p}}

         <button type="submit">Add note</button>
    </form>

    <hr/>

    <h4>All notes</h4>

    {% if myNotes %}
         <ul>
            {% for note in myNotes %}
            <li>
                <strong>{{note.title}}</strong>
            </li>
            {% endfor %}
         </ul>
    {% else %}
        <p>No notes.</p>
    {% endif %}
</body>
</html>