h1{
    color: rgb(112, 12, 206);
}

#note-form {
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 300px;
}

#note-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

#note-form button:hover {
    background-color: #0056b3;
}